<form class="box transparent" onsubmit="event.preventDefault(); check_code();" id="verificationForm">
    <div class="field" style="margin-top: 50px;">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Two Factor Authentication</p>
    </div>
    <!--Display errors, if found-->
    {% if error %}
        <div class="notification" id="verificationForm_notification">
            <button class="delete" aria-label="delete" onclick="event.preventDefault(); closeNotification('verificationForm_notification');"></button>
            <ul>
                {{ error }}
            </ul>
        </div>
    {% endif %}
    <input type="hidden" value="verificationForm" name="form_type">
    <!--Form fields-->
    <div class="field" style="margin-top: 30px;">
        <div class="control">
            <input class="input is-family-monospace" placeholder="Enter the 6 digit code" name="verification_code">
        </div>
        <a style="color: white; font-size: 12px; font-family: monospace; float: right; margin-top: 20px;" onclick="event.preventDefault(); resend_code();">Resend Code?</a>
    </div>
    <div class="field" style="text-align:center; margin-top: 60px;">
        <div class="control">
            <button class="button is-family-monospace has-text-weight-bold" type="submit">
                Verify
            </button>
        </div>
    </div>
</form>