<form method="post" action="{% url 'passwords' %}" id="add_password_form" onsubmit="event.preventDefault(); add_password();">
    {% csrf_token %}
    <input type="hidden" value="addPasswordForm" name="form_type">
    <div class="field" style="margin-top: 30px;">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Add Password</p>
    </div>
    <!--If there are errors, display them-->
    {% if addForm.errors %}
        <div class="notification" style="width: 400px; margin-left: 50px; margin-top: 20px;">
            <button class="delete" type="button" onclick="this.parentElement.style.display='none'"></button>
            <strong style="color: black; font-size: 18px;">Error:</strong>
            <ul class="has-text-weight-light" style="color: black; font-size: 15px;">
                {% for error_list in addForm.errors.values %}
                    {% for error in error_list %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <!--Fields of the form-->
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Website Name
        </label>
        <div class="control">
            {{ addForm.website_name }}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Website Link
        </label>
        <div class="control">
            {{ addForm.website_url }}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Email
        </label>
        <div class="control">
            {{ addForm.email }}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Username
        </label>
        <div class="control">
            {{ addForm.username }}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Password
        </label>
        <div class="control">
            {{ addForm.password }}
            <button class="button" type="button" onclick="add_toggle_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -72.5px; margin-left: 130px;">
                <span class="icon" id="add_password_icon" style="font-size: 15px;">
                    <box-icon name='hide' color='#ffffff' ></box-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 10px; margin-left: 50px;">
            Short Description
        </label>
        <div class="control">
            {{ addForm.short_description }}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Detailed Description
        </label>
        <div class="control">
            {{ addForm.detailed_description }}
        </div>
    </div>
    <div class="field is-grouped-centered is-grouped">
        <div class="control">
            <button class="button is-family-monospace" type="reset" onclick="closeModal('add_password_modal')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
              Cancel
            </button>
        </div>
        <div class="control">
            <button class="button is-family-monospace" type="submit" onclick="closeModal('add_password_modal')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
                Add
            </button>
        </div>
    </div>
</form>