{% load widget_tweaks %}
<form method="post" action="{% url 'passwords' %}" onsubmit="event.preventDefault(); edit_password(this);">
    {% csrf_token %}
    <input type="hidden" value="editPasswordForm" name="form_type">
    <input type="hidden" value="{{ password.id }}" name="password_id">
    <div class="field" style="margin-top: 30px;">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Edit Password</p>
    </div>
    {% if editForm.errors %}
        <div class="notification" style="width: 400px; margin-left: 50px; margin-top: 20px;" id="edit_password_modal_notification_{{ password.id }}">
            <button class="delete" type="button" onclick="closeNotification('{{ password.id }}')"></button>
            <strong style="color: black; font-size: 18px;">Error:</strong>
            <ul class="has-text-weight-light" style="color: black; font-size: 15px;">
                {% for error_list in editForm.errors.values %}
                    {% for error in error_list %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Website Name
        </label>
        <div class="control">
            {% render_field editForm.website_name value=password.website_name %}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Website Link
        </label>
        <div class="control">
            {% render_field editForm.website_url value=password.website_url %}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Email
        </label>
        <div class="control">
            {% render_field editForm.email value=password.get_email %}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Username
        </label>
        <div class="control">
            {% render_field editForm.username value=password.get_username %}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Password
        </label>
        <div class="control">
            <input class="input is-family-monospace" style="width: 400px; margin-top: 10px; margin-left: 50px" value="{{ password.get_password }}" id="edit_password_modal_{{ password.id }}_password" type="password" name="editForm_password">
            <button class="button" type="button" onclick="edit_toggle_password('{{ password.id }}')" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -72.5px; margin-left: 130px;">
                <span class="icon" id="{{ password.id }}_icon" style="font-size: 15px;">
                    <box-icon name='hide' color='#ffffff' ></box-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 10px; margin-left: 50px;">
        Short Description
        </label>
        <div class="control">
            {% render_field editForm.short_description value=password.short_description %}
        </div>
    </div>
    <div class="field">
        <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
            Detailed Description
        </label>
        <div class="control">
            {% render_field editForm.detailed_description value=password.detailed_description %}
        </div>
    </div>
    <div class="field is-grouped-centered is-grouped">
        <div class="control">
            <button class="button is-family-monospace" type="reset" onclick="closeModal('edit_password_modal_{{ password.id }}')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
                Cancel
            </button>
        </div>
        <div class="control">
            <button class="button is-family-monospace" type="submit" onclick="closeModal('edit_password_modal_{{ password.id }}')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
                Save
            </button>
        </div>
    </div>
</form>