{% load static %}
{% load widget_tweaks %}
<!--Looping through each password the user created-->
{% if user_passwords %}
    {% for password, editForm in user_passwords %}
        <div class="column is-3" style="margin-top: 10px; margin-left: 65px;">
            <div class="box has-background-black" style="height: 150px; border-radius: 10px;">
                <div class="has-text-weight-bold" style="color:white; font-size: 20px; margin-top: 20px; margin-left: 80px;">{{ password.website_name }}</div>
                {% if password.website_url %}
                    <div style="font-size: 10px; margin-left: 82.5px; color: white; margin-top: 1px;">{{ password.website_url }}</div>
                {% else %}
                    <div style="font-size: 10px; margin-left: 82.5px; color: white; margin-top: 1px; visibility: hidden;">none</div>
                {% endif %}
                <img src="{% static 'pig_lock.png' %}" style="margin-left: 10px; margin-top: -65px;">
                <!--Creates a dropdown for the settings menu-->
                <div class="dropdown" style="margin-top: 40px;">
                    <div class="dropdown-trigger">
                        <button class="button"  onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -130px; margin-left: 182.5px;">
                            <span class="icon" style="font-size: 20px;">
                                <box-icon name='chevron-down' color='#ffffff' size='lg'></box-icon>
                            </span>
                        </button>
                    </div>
                    <!--Settings menu for each password-->
                    <div class="dropdown-menu" style="margin-top: -138.5px; margin-left: 180px;">
                        <div class="dropdown-content">
                            <a class="dropdown-item is-family-monospace" onclick="openModal('view_password_modal_{{ password.id }}')">
                                View
                            </a>
                            <a class="dropdown-item is-family-monospace" onclick="openModal('edit_password_modal_{{ password.id }}')">
                                Edit
                            </a>
                            <a class="dropdown-item is-family-monospace" onclick="delete_password('{{ password.id }}')">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--View Password Modal-->
        <div class="modal" id="view_password_modal_{{ password.id }}" style="width: 500px; height: 500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="modal-background"></div>
            <div class="modal-content has-text-white is-family-monospace">
                <div class="field" style="margin-top: 20px;">
                    <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">{{ password.website_name }}</p>
                </div>
                <div class="field">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                        Username
                    </label>
                    <input class="input is-family-monospace" type="text" value="{{ password.get_username }}" style="width: 400px; margin-top: 10px; margin-left: 50px;" readonly>
                </div>
                <div class="field">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                        Password
                    </label>
                    <input id="view_password_modal_{{ password.id }}_password" class="input is-family-monospace" type="password" value="{{ password.get_password }}" style="width: 400px; margin-top: 10px; margin-left: 50px;" readonly>
                    <button class="button" type="button" onclick="view_toggle_password('{{password.id}}')" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -72.5px; margin-left: 130px;">
                        <span class="icon" id="{{password.id}}_icon" style="font-size: 15px;">
                            <box-icon name='hide' color='#ffffff' ></box-icon>
                        </span>
                    </button>
                </div>
                <div class="field">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 10px; margin-left: 50px;">
                        Email
                    </label>
                    <input class="input is-family-monospace" type="text"  value="{{ password.get_email }}" style="width: 400px; margin-top: 10px; margin-left: 50px;" readonly>
                </div>
                <div class="field">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                        Website Link
                    </label>
                    <input class="input is-family-monospace" type="text" value="{{ password.website_url }}" style="width: 400px; margin-top: 10px; margin-left: 50px;" readonly>
                </div>
                <div class="field">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                        Short Description
                    </label>
                    <input class="input is-family-monospace" type="text" value="{{ password.short_description }}" style="width: 400px; margin-top: 10px; margin-left: 50px;" readonly>
                </div>
                <div class="field" style="width: 400px;">
                    <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                        Detailed Description
                    </label>
                    <textarea class="textarea is-family-monospace" type="text" style="margin-top: 10px; margin-left: 50px; background-color: transparent;" readonly>{{ password.detailed_description }}</textarea>
                </div>
            </div>
            <button class="modal-close is-large" type="button" onclick="closeModal('view_password_modal_{{ password.id }}')"></button>
        </div>
        <!--Edit Password Modal-->
        <div class="modal" id="edit_password_modal_{{ password.id }}" style="width: 500px; height: 500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="modal-background"></div>
            <div class="modal-content has-text-white is-family-monospace">
                <div id="edit_password_form_container_{{ password.id }}">
                    <form method="post" action="{% url 'passwords' %}" onsubmit="event.preventDefault(); edit_password(this);">
                        {% csrf_token %}
                        <input type="hidden" value="editPasswordForm" name="form_type">
                        <input type="hidden" value="{{ password.id }}" name="password_id">
                        <div class="field" style="margin-top: 30px;">
                            <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Edit Password</p>
                        </div>
                        {% if editForm.errors %}
                            <div class="notification" style="width: 400px; margin-left: 50px; margin-top: 20px;" id="edit_password_modal_notification_{{ password.id }}">
                                <button class="delete" type="button" onclick="closeNotification('{{ password.id }}')"></button>
                                <strong style="color: black; font-size: 18px;">Error:</strong>
                                <ul class="has-text-weight-light" style="color: black; font-size: 15px;">
                                    {% for error_list in editForm.errors.values %}
                                        {% for error in error_list %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <script>
                                document.addEventListener('DOMContentLoaded', () => {
                                    openModal("edit_password_modal_{{ password.id }}");
                                });
                            </script>
                        {% endif %}
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Website Name
                            </label>
                            <div class="control">
                                {% render_field editForm.website_name value=password.website_name %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Website Link
                            </label>
                            <div class="control">
                                {% render_field editForm.website_url value=password.website_url %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Email
                            </label>
                            <div class="control">
                                {% render_field editForm.email value=password.get_email %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Username
                            </label>
                            <div class="control">
                                {% render_field editForm.username value=password.get_username %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Password
                            </label>
                            <div class="control">
                                <input class="input is-family-monospace" style="width: 400px; margin-top: 10px; margin-left: 50px" value="{{ password.get_password }}" id="edit_password_modal_{{ password.id }}_password" type="password" name="editForm_password">
                                <button class="button" type="button" onclick="edit_toggle_password('{{ password.id }}')" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -72.5px; margin-left: 130px;">
                                    <span class="icon" id="{{ password.id }}_icon" style="font-size: 15px;">
                                        <box-icon name='hide' color='#ffffff' ></box-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 10px; margin-left: 50px;">
                            Short Description
                            </label>
                            <div class="control">
                                {% render_field editForm.short_description value=password.short_description %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-family-monospace has-text-white" style="margin-top: 30px; margin-left: 50px;">
                                Detailed Description
                            </label>
                            <div class="control">
                                {% render_field editForm.detailed_description value=password.detailed_description %}
                            </div>
                        </div>
                        <div class="field is-grouped-centered is-grouped">
                            <div class="control">
                                <button class="button is-family-monospace" type="reset" onclick="closeModal('edit_password_modal_{{ password.id }}')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
                                Cancel
                                </button>
                            </div>
                            <div class="control">
                                <button class="button is-family-monospace" type="submit" onclick="closeModal('edit_password_modal_{{ password.id }}')" style="width: 120px; margin-top: 20px; background-color: transparent; color: white;">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}