<form class="box transparent" method="post" action="{% url 'login' %}" id="loginForm" onsubmit="event.preventDefault(); log_in();">
    {% csrf_token %}
    <div class="field">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Welcome Back</p>
    </div>
    <!--Display errors, if found-->
    {% if form.errors %}
        <div class="notification">
            <button class="delete" aria-label="delete" onclick="this.parentElement.style.display='none'"></button>
            <strong>Error:</strong>
            <ul>
                {% for error_list in form.errors.values %}
                    {% for error in error_list %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <!--Form fields-->
    <div class="field" style="margin-top: 30px;">
        <label class="label is-family-monospace has-text-weight-bold has-text-white">
            Username
        </label>
        <div class="control">
            {{ form.username }}
        </div>
    </div>
    <div class="field" style="margin-top: 20px;">
        <label class="label is-family-monospace has-text-weight-bold has-text-white">
            Password
        </label>
        <div class="control">
            {{ form.password }}
            <button class="button" onclick="toggle_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top:-67.5px; margin-left: 80px;" type="button">
                <span class="icon" id="passwordIcon" style="font-size: 15px;">
                    <box-icon name='hide' color='#ffffff' ></box-icon>
                </span>
            </button>
        </div>
        <a style="color: white; font-size: 12px; font-family: monospace; float: right;" href="/reset/">Forgot Password?</a>
    </div>
    <div class="field" style="text-align:center; margin-top: 20px;">
        <div class="control">
            <button class="button is-family-monospace has-text-weight-bold" type="submit">
                Log In
            </button>
        </div>
    </div>
</form>