/* Hides the scrollbar for the whole page below nav bar */
body::-webkit-scrollbar,
.main_content::-webkit-scrollbar {
    width: 0px;
}

/* Side menu */
.side_menu {
    background-color: black;
    height:100%;
    position: fixed;
    width:250px;
}

/* Side menu */
.menulist li + li {
    margin-top: 5px;
}

/* Side menu */
.menu-list a:hover {
    background-color: transparent;
}

/* The screen on right of side menu */
.main_content {
    overflow-y: auto;
    height: 100vh;
    background-color: #1a1817;
    margin-left: 250px;
}

/* Hides the scrollbar for the main screen */
.main_content::-webkit-scrollbar-thumb,
.maincontent::-webkit-scrollbar-track {
    background-color: transparent;
}

/* The navigation bar at the top */
.custom_navbar {
    background-color: transparent;
    width:calc(100% - 250px);
    margin-left: 250px;
}

/* The dropdown menu for username on top right corner */
.custom_dropdown {
    background-color: black;
}

/* The navigation bar at the top */
.navbar-link:hover {
    background-color: transparent !important;
    color:white !important;
}

/* The navigation bar at the top */
.navbar-item.is-active .navbar-link {
    background-color: transparent !important;
}

/* The navigation bar at the top */
.navbar-link:after {
    border-color: white !important;
}

/* The navigation bar at the top */
.navbar-link,
.navbar-item {
    color:white;
}

/* The slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 7.5px;
    border-radius: 5px;
    background: #d6d7db;
    outline: none;
}

/* The slider */
input[type="range"]:hover {
    opacity: 1;
}

/* The slider */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

/* The toggle button */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

/* The toggle button */
label {
	cursor: pointer;
	height: 25px;
    width: 60px;
	background: #d6d7db;
	display: block;
	border-radius: 60px;
	position: relative;
    margin-top: -35px;
    margin-left: 90px;
}

/* The toggle button */
label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: white;
	border-radius: 50%;
	transition: 0.3s;
}

/* The toggle button */
input:checked + label {
	background: white;
}

/* The toggle button */
input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
    background-color: black;
}

/* Adds a pressed effect on the buttons */
.button:active {
    transform: scale(0.95);
}

/* The modal */
.modal-content {
    height: 100%;
    width: 100%;
}

/* Hides the scrollbar in the modal */
.modal-content::-webkit-scrollbar {
    width: 0px; 
}

/* Hides the scrollbar in the modal */
.modal-content::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-track {
    background-color: transparent; 
}

/* Makes sure the password does not overflow */
.content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}