<form class="box transparent" onsubmit="event.preventDefault(); check_email();" id="checkEmailForm">
    <input type="hidden" value="checkEmailForm" name="form_type">
    <div class="field">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Forgot Your Password?</p>
    </div>
    <!--Display errors, if found-->
    {% if error %}
        <div class="notification" id="checkEmailForm_notification">
            <button class="delete" aria-label="delete" onclick="event.preventDefault(); closeNotification('checkEmailForm_notification');"></button>
            <ul>
                {{ error }}
            </ul>
        </div>
    {% endif %}
    <!--Form fields-->
    <div class="field" style="margin-top: 30px;">
        <label class="label is-family-monospace has-text-weight-bold has-text-white">
            Email
        </label>
        <div class="control">
            <input class="input is-family-monospace" type="text" placeholder="Enter your email" name="email">
        </div>
        <a style="color: white; font-size: 12px; font-family: monospace; float: right; margin-top: 20px;" href="/login/">Back to Login?</a>
    </div>
    <div class="field" style="text-align:center; margin-top: 60px;">
        <div class="control">
            <button class="button is-family-monospace has-text-weight-bold" type="submit">
                Send Code
            </button>
        </div>
    </div>
</form>