<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_simple_bulma %}
    {% bulma %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Piglock</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!--Loads the css file containing styling for verification page -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        /* Setting the background image */
        body {
            background: url('{% static "dark_background.jpeg" %}') no-repeat center center fixed;
            background-size:cover;
            height:1000px;
        }
    </style>
</head>

<!--Navigation bar-->
<nav class="navbar is-fixed-top is-spaced transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <div class="is-flex is-flex-direction-row is-align-items-center mt-2 ml-2">
                <img class="mt-2 ml-2" src="{% static 'pig_icon.png' %}" width="40" height="100">
                <span class="logo-name has-text-weight-bold is-family-monospace has-text-white ml-2 mt-2">Dark Piglock</span>
            </div>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">
                <a class="button is-family-monospace is-ghost is-light is-inverted has-text-weight-bold" href="/login/">
                    Log In
                </a>
            </a>
            <a class="navbar-item">
                <a class="button is-family-monospace is-ghost is-inverted is-light has-text-weight-bold" href="/signup/">
                    Sign Up
                </a>
            </a>
        </div>
    </div>      
</nav>
<body>
    <!--Loads Boxicon and JQuery Package-->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <section class="section is-centered is-medium">
        <div class="columns is-centered">
            <div class="column is-two-fifths">
                <div id="resetForm_container">
                    <form class="box transparent" onsubmit="event.preventDefault(); reset_password();" id="resetForm">
                        {% csrf_token %}
                        <div class="field" style="margin-top: 50px;">
                            <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Password Reset</p>
                        </div>
                        <!--Display errors, if found-->
                        {% if errors %}
                            <div class="notification" id="resetForm_notification">
                                <button class="delete" aria-label="delete" onclick="event.preventDefault('resetForm_notification'); closeNotification();"></button>
                                <ul>
                                    {% for error in errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input type="hidden" value="resetForm" name="form_type">
                        <!--Form fields-->
                        <div class="field" style="margin-top: 40px;">
                            <label class="label is-family-monospace has-text-white">
                                New Password
                            </label>
                            <div class="control">
                                <input class="input is-family-monospace" placeholder="Enter your new password" name="password1" id="passwordInput" type="password">
                                <button class="button" onclick="toggle_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -67.5px; margin-left: 120px;" type="button">
                                    <span class="icon" id="passwordIcon" style="font-size: 15px;">
                                        <box-icon name='hide' color='#ffffff' ></box-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 20px;">
                            <label class="label is-family-monospace has-text-white">
                                Confirm New Password
                            </label>
                            <div class="control">
                                <input class="input is-family-monospace" placeholder="Enter your new password again" name="password2" id="confirm_passwordInput" type="password">
                                <button class="button" onclick="toggle_confirm_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -67.5px; margin-left: 190px;" type="button">
                                    <span class="icon" id="confirm_passwordIcon" style="font-size: 15px;">
                                        <box-icon name='hide' color='#ffffff' ></box-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="field" style="text-align:center; margin-top: 40px;">
                            <div class="control">
                                <button class="button is-family-monospace has-text-weight-bold" type="submit">
                                    Reset Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        /* Toggles the visibility of the first password field */
        function toggle_password() {
            var passwordInput = document.getElementById('passwordInput');
            var passwordIcon = document.getElementById('passwordIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordIcon.innerHTML = '<box-icon name="show" color="#ffffff"></box-icon>';
            } else {
                passwordInput.type = 'password';
                passwordIcon.innerHTML = '<box-icon name="hide" color="#ffffff"></box-icon>';
            }
        }

        /* Toggles the visibility of the second password field */
        function toggle_confirm_password() {
            var confirm_passwordInput = document.getElementById('confirm_passwordInput');
            var confirm_passwordIcon = document.getElementById('confirm_passwordIcon');

            if (confirm_passwordInput.type === 'password') {
                confirm_passwordInput.type = 'text';
                confirm_passwordIcon.innerHTML = '<box-icon name="show" color="#ffffff"></box-icon>';
            } else {
                confirm_passwordInput.type = 'password';
                confirm_passwordIcon.innerHTML = '<box-icon name="hide" color="#ffffff"></box-icon>';
            }
        }
        /* Closing the form notification */
        function closeNotification(id) {
            const notification = document.getElementById(id);
            if (notification) {
                notification.remove();
            }
        }

        /* Submits the form */
        function reset_password() {
            $.ajax({
                type: "POST",
                url: "{% url 'reset-password' user_id=0  %}".replace("0", '{{ user_id }}'),
                data: $('#resetForm').serialize(),
                success: function(response) {
                    if (response.status == 'success') {
                        window.location.href = "{% url 'login' %}";
                    } else {
                        $('#resetForm_container').html($(response.reset_password_form_html));
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error updating page:", status, error);
                }
            });
        }
    </script>
</body>
</html>