<form class="box transparent" onsubmit="event.preventDefault(); reset_password();" id="resetForm">
    {% csrf_token %}
    <div class="field" style="margin-top: 50px;">
        <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Password Reset</p>
    </div>
    <!--Display errors, if found-->
    {% if errors %}
        <div class="notification" id="resetForm_notification">
            <button class="delete" aria-label="delete" onclick="event.preventDefault('resetForm_notification'); closeNotification();"></button>
            <ul>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <input type="hidden" value="resetForm" name="form_type">
    <!--Form fields-->
    <div class="field" style="margin-top: 40px;">
        <label class="label is-family-monospace has-text-white">
            New Password
        </label>
        <div class="control">
            <input class="input is-family-monospace" placeholder="Enter your new password" name="password1" id="passwordInput" type="password">
            <button class="button" onclick="toggle_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -67.5px; margin-left: 120px;" type="button">
                <span class="icon" id="passwordIcon" style="font-size: 15px;">
                    <box-icon name='hide' color='#ffffff' ></box-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="field" style="margin-top: 20px;">
        <label class="label is-family-monospace has-text-white">
            Confirm New Password
        </label>
        <div class="control">
            <input class="input is-family-monospace" placeholder="Enter your new password again" name="password2" id="confirm_passwordInput" type="password">
            <button class="button" onclick="toggle_confirm_password()" onfocus="this.blur();" style="background-color: transparent; height: 10px; width: 10px; border: none; margin-top: -67.5px; margin-left: 190px;" type="button">
                <span class="icon" id="confirm_passwordIcon" style="font-size: 15px;">
                    <box-icon name='hide' color='#ffffff' ></box-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="field" style="text-align:center; margin-top: 40px;">
        <div class="control">
            <button class="button is-family-monospace has-text-weight-bold" type="submit">
                Reset Password
            </button>
        </div>
    </div>
</form>