<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_simple_bulma %}
    {% bulma %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Piglock</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!--Loads the css file containing styling for the log in page -->
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
    <style>
        /* Setting the background image */
        body {
            background: url('{% static "dark_background.jpeg" %}') no-repeat center center fixed;
            background-size:cover;
            height:700px;
        }
    </style>
</head>

<!--Navigation bar-->
<nav class="navbar is-fixed-top is-spaced transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <div class="is-flex is-flex-direction-row is-align-items-center mt-2 ml-2">
                <img class="mt-2 ml-2" src="{% static 'pig_icon.png' %}" width="40" height="100">
                <span class="logo-name has-text-weight-bold is-family-monospace has-text-white ml-2 mt-2">Dark Piglock</span>
            </div>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">
                <a class="button is-family-monospace is-ghost is-light is-inverted has-text-weight-bold" href="/login/">
                    Log In
                </a>
            </a>
            <a class="navbar-item">
                <a class="button is-family-monospace is-ghost is-inverted is-light has-text-weight-bold" href="/signup/">
                    Sign Up
                </a>
            </a>
        </div>
    </div>      
</nav>
<body>
    <!--Loads Boxicon and JQuery Package-->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <section class="section is-centered is-medium">
        <div class="columns is-centered">
            <div class="column is-two-fifths">
                <div id="checkEmailForm_container">
                    <form class="box transparent" onsubmit="event.preventDefault(); check_email();" id="checkEmailForm">
                        <input type="hidden" value="checkEmailForm" name="form_type">
                        <div class="field" style="margin-top: 50px;">
                            <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white">Forgot Your Password?</p>
                        </div>
                        <!--Display errors, if found-->
                        {% if error %}
                            <div class="notification" id="checkEmailForm_notification">
                                <button class="delete" aria-label="delete" onclick="event.preventDefault(); closeNotification('checkEmailForm_notification');"></button>
                                <ul>
                                    {{ error }}
                                </ul>
                            </div>
                        {% endif %}
                        <!--Form fields-->
                        <div class="field" style="margin-top: 40px;">
                            <label class="label is-family-monospace has-text-weight-bold has-text-white">
                                Email
                            </label>
                            <div class="control">
                                <input class="input is-family-monospace" type="text" placeholder="Enter your email" name="email">
                            </div>
                            <a style="color: white; font-size: 12px; font-family: monospace; float: right; margin-top: 20px;" href="/login/">Back to Login?</a>
                        </div>
                        <div class="field" style="text-align:center; margin-top: 60px;">
                            <div class="control">
                                <button class="button is-family-monospace has-text-weight-bold" type="submit">
                                    Send Code
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        /* Closing the form notification */
        function closeNotification(id){
            const notification = document.getElementById(id);
            if (notification) {
                notification.remove();
            }
        }

        /* Checks if email exists */
        function check_email() {
            $.ajax({
                type: "GET",
                url: "{% url 'reset' %}",
                data: $("#checkEmailForm").serialize(),
                success: function(response) {
                    if (response.status == 'success') {
                        window.location.href = "{% url 'verify_reset' %}";
                    } else {
                        $('#checkEmailForm_container').html($(response.forgot_password_form_html));
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error updating page:", status, error);
                }
            });
        }
    </script>
</body>
</html>