<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_simple_bulma %}
    {% bulma %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Piglock</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-list.css' %}">
    <link rel="preconnect" href="https://unpkg.com" crossorigin>
    <!--Loads the css file containing the styling for password generator page-->
    <link rel="stylesheet" href="{% static 'css/password_generator.css' %}">
</head>
<!--Hides the scrollbar-->
<body style="overflow-x: hidden;">
    <!--Loads Boxicon and Bulma Slider Package-->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.4/dist/js/bulma-slider.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div class="tile is-ancestor is-2">
        <!--Side Menu-->
        <aside class="menu mt-3 ml-3 side_menu">
            <div class="is-flex is-flex-direction-row is-align-items-center mt-2 ml-2">
                <img class="mt-2 ml-2" src="{% static 'pig_icon.png' %}" width="40" height="100">
                <span class="logo-name has-text-weight-bold is-family-monospace has-text-white ml-2 mt-2">Dark Piglock</span>
            </div>
            <p class="menu-label has-text-white is-family-monospace mt-5 ml-2">General</p>
            <ul class="menu-list menulist mt-5 ml-2">
                <li>
                    <a class="icon-text is-family-monospace has-text-white is-family-monospace is-flex is-align-items-center" href="/dashboard/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='dashboard' type='solid' color='#ffffff' ></box-icon>
                        </span>
                        <span class="mt-2">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/passwords/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='lock' type='solid' color='#ffffff' ></box-icon>
                        </span>
                        <span class="mt-2">Passwords</span>
                    </a>
                </li>
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/notes/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='edit' color='#ffffff' ></box-icon>
                        </span>
                        <span class="mt-2">Notes</span>
                    </a>
                </li>
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/cards/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='credit-card' type='solid' color='#ffffff' ></box-icon>
                            </span>
                        <span class="mt-2">Credit Cards</span>
                    </a>
                </li>
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/history/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='history' color='#ffffff'></box-icon>
                        </span>
                        <span class="mt-2">History</span>
                    </a>
                </li>
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/settings/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='cog' color='#ffffff' ></box-icon>
                        </span>
                        <span class="mt-2">Settings</span>
                    </a>
                </li>
            </ul>
            <p class="menu-label has-text-white is-family-monospace mt-5 ml-2">Tools</p>
            <ul class="menu-list menulist mt-5 ml-2">
                <li>
                    <a class="icon-text has-text-white is-family-monospace is-flex is-align-items-center" href="/password-generator/">
                        <span class="icon mt-2 mr-3">
                            <box-icon name='refresh' color='#ffffff'></box-icon>
                        </span>
                        <span class="mt-2">Password Generator</span>
                    </a>
                </li>
            </ul>
        </aside>
        </div>
    </div>
    <div class="main_content">
        <!--Navigation Bar-->
        <nav class="navbar custom_navbar is-fixed-top">
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown" id="dropdown">
                        <a class="navbar-link is-family-monospace">{{ username }}</a>
                        <div class="navbar-dropdown custom_dropdown">
                            <a class="navbar-item is-family-monospace" onclick="openModal('credits')">
                                Credits
                            </a>
                            <a class="navbar-item is-family-monospace" href="{% url 'logout' %}">
                                Log Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--Attribution Modal-->
        <div class="modal" id="credits" style="width: 400px; height: 450px; position: fixed; top: 55%; left: 55%; transform: translate(-50%, -50%); z-index: 5;">
            <div class="modal-background"></div>
            <div class="modal-content" style="background-color: black; text-align: center; margin-top: 30px;">
                <h1 style="color: white; font-family: monospace; font-size: 20px; margin-bottom: 20px;">Credits</h1>
                <a href="https://www.freepik.com/free-vector/gradient-black-background-with-wavy-lines_19852122.htm#query=dark%20theme%20vector%20background&position=8&from_view=search&track=ais&uuid=5fa2d0fc-99ae-437f-a630-cc21610266c7" style="color: white; font-family: monospace; text-decoration: underline;">Login Page and Sign Up Page Background Image by Freepik</a>
                <br>
                <a href="https://www.freepik.com/free-vector/background-luxury-minimalist-gradient-style-design_32582886.htm#page=2&query=dark%20vector%20background&position=30&from_view=search&track=ais&uuid=0b077dd1-421b-47da-a2d2-b748ddbd193a" style="color: white; font-family: monospace; text-decoration: underline;">Credit Card Background Image by arrandera</a>
                <br>
                <div style="font-family: monospace; color: white;"> Credit Card Chip Icon made by <a href="https://www.freepik.com" style="color: white; font-family: monospace; text-decoration: underline;" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon" style="color: white; font-family: monospace; text-decoration: underline;">www.flaticon.com'</a></div>
                <a href="https://www.freepik.com/icon/animal-rights_2865584#fromView=search&term=pig+lock&track=ais&page=1&position=31&uuid=3f7dfbf6-5dbb-4b17-812a-f2923c1652ca" style="color: white; font-family: monospace; text-decoration: underline;">Password Page Icon by Freepik</a>
                <br>
                <a href="https://icons8.com/icon/qudcNstH1hBC/pig" style="color: white; font-family: monospace; text-decoration: underline;">Website Pig Icon made by Vitaly Gorbachev on</a><a href="https://icons8.com/"style="color: white; font-family: monospace; text-decoration: underline;"> Icons8</a>
                <br>
                <a href="https://www.freepik.com/icon/book_6153987#fromView=search&term=pig+with+notebook&track=ais&page=1&position=17&uuid=06c214f7-3f84-4666-9a1f-06e42c4b8deb" style="color: white; font-family: monospace; text-decoration: underline;">Note Page Icon by Flowicon</a>
                <br>
                <div style="color: white; font-family: monospace;">Home Page Background Image by <a href="https://www.freepik.com/free-vector/gradient-black-background-with-wavy-lines_19852128.htm#query=dark%20theme%20vector&position=12&from_view=search&track=ais&uuid=5c4ba701-a1f6-4f83-bbda-6470cbea0ae8" style="color: white; font-family: monospace; text-decoration: underline;">Freepik</a></div>
                <a href="https://storyset.com/online" style="color: white; font-family: monospace; text-decoration: underline;">Home Page Illustration by Storyset</a>
                <br>
                <a href="https://www.freepik.com/icon/no-pork_9958719" style="color: white;  font-family: monospace; text-decoration: underline;">History Page Icon by Freepik</a>
                <div class="field is-grouped-centered is-grouped" style="margin-top: 10px;">
                    <div class="control">
                        <button class="button is-family-monospace" type="button" style="width: 100px; margin-top: 20px; background-color: transparent; color: white;" onclick="closeModal('credits')">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 75px; background-color: black; margin-left: 15px; border-radius: 10px; width: 1000px;">
            <div class="card-content" style="height: 200px; font-size: large; color: white; font-family: monospace;">
                <div class="content" id="card_content">
                </div>
            </div> 
        </div>
        <div class="buttons" style="margin-top: -55px; margin-left: 840px;">
            <form>
                {% csrf_token %}
                <button class="button" style="background-color: transparent; border: none;" type="button" onclick="generatePassword()">
                    <span class="icon is-small">
                        <box-icon name='refresh' color='#ffffff'></box-icon>
                    </span>
                </button>
            </form>
            <button class="button" style="background-color: transparent; border: none;" type="button" onclick="copy()">
                <span class="icon is-small">
                    <box-icon name='copy' color='#ffffff'></box-icon>
                </span>
            </button>
            <button class="button" style="background-color: transparent; border: none;" type="button" onclick="deletePassword()">
                <span class="icon is-small">
                    <box-icon name='trash' color='#ffffff'></box-icon>
                </span>
            </button>
        </div>
        <div class="list has-visible-pointer-controls" style="background-color: black; border-radius: 10px; margin-top: 30px; margin-left: 15px; width:1000px;">
            <div class="list-item" style="height: 75px;">
                <div class="list-item-title" style="color: white; font-family: monospace; font-weight: lighter; margin-left: 13px;">
                    Length
                </div>
                <div class="list-item-controls" style="margin-left: 700px; margin-top: 7.5px;">
                    <input id="sliderWithValue" class="slider has-output-tooltip is-fullwidth" min="0" max="256" step="1" value="12" type="range">
                    <output for="sliderWithValue" style="color: white; margin-left: 5px;">12</output>
                    <script>
                        bulmaSlider.attach();
                    </script>
                </div>
            </div>
            <div class="list-item" style="height: 75px;">
                <div class="list-item-title" style="color: white; font-family: monospace; font-weight: lighter; margin-left: 13px;">
                    Characters
                </div>
                <div class="list-item-controls" style="margin-left: 661px; margin-top: 7.5px;">
                    <input type="checkbox" id="switch1" checked><label for="switch1"></label>
                </div>
            </div>
            <div class="list-item" style="height: 75px;">
                <div class="list-item-title" style="color: white; font-family: monospace; font-weight: lighter; margin-left: 13px;">
                    Numbers
                </div>
                <div class="list-item-controls" style="margin-left: 690px; margin-top: 7.5px;">
                    <input type="checkbox" id="switch2" checked><label for="switch2"></label>
                </div>
            </div>
            <div class="list-item" style="height: 75px;">
                <div class="list-item-title" style="color: white; font-family: monospace; font-weight: lighter; margin-left: 13px;">
                    Special Characters
                </div>
                <div class="list-item-controls" style="margin-left: 585px; margin-top: 7.5px;">
                    <input type="checkbox" id="switch3" checked><label for="switch3"></label>
                </div>
            </div>
        </div>
    </div>
    <!--Error message when none of the checkboxes are selected-->
    <div class="modal" id="generatePassword_modal" style="width: 250px; height: 200px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="modal-background"></div>
        <div class="modal-content is-family-monospace">
            <p class="subtitle is-family-monospace has-text-centered is-size-4 has-text-weight-bold has-text-white" style="margin-top: 50px;">Error</p>
            <p style="color: white; text-align: center;">Must select at least one option to generate password.</p>
        </div>
        <button class="modal-close is-large" onclick="closeModal('generatePassword_modal')"></button>
    </div>
    <script>
        /* Sends the form back to the view to generate the password */
        function generatePassword() {
            var csrfValue = document.querySelector('.buttons form [name="csrfmiddlewaretoken"]').value;
            $.ajax({
                type: "POST",
                url: "{% url 'password_generator' %}",
                data: {
                    "csrfmiddlewaretoken": csrfValue,
                    "length": document.getElementById("sliderWithValue").value,
                    "characters": document.getElementById("switch1").checked,
                    "numbers": document.getElementById("switch2").checked,
                    "special_characters": document.getElementById("switch3").checked
                },
                success: function(response) {
                    if (response.error) {
                        var modal = document.getElementById("generatePassword_modal");
                        modal.classList.toggle("is-active");
                    }
                    else {
                        var password = document.getElementById("card_content");
                        password.innerText = response.password;
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
        /* Copies the generated password */
        function copy() {
            var password = document.getElementById("card_content");
            navigator.clipboard.writeText(password.innerText);
        }

        /* Deletes the generated password */
        function deletePassword() {
            var password = document.getElementById("card_content");
            password.innerText = "";
        }

        /* Opening modal */
        function openModal(id) {
            const modal = document.getElementById(id);
            if (modal) {
                modal.classList.add('is-active');
            }
        }
        
        /* Closing modal */
        function closeModal(id) {
            const modal = document.getElementById(id);
            if (modal) {
                modal.classList.remove('is-active');
            }
        }
        
        /* Toggling dropdowns */
        document.addEventListener('DOMContentLoaded', () => {
            const navDropdown = document.getElementById('dropdown');

            navDropdown.addEventListener('click', () => {
                navDropdown.classList.toggle('is-active');
            });
        });
    </script>
</body>
</html>